/* Organization settings basic info */
.org-color-selector {
    display: flex;
    align-items: center;
}

.org-color-selector .user-input {
    display: flex;
    margin: 0;
}

.org-color-preview {
    display: block;
    width: 2em;
    height: 2em;

    margin-right: 1em;
}

/* Org Email Settings */

.org-email-settings {
    margin-top: 5em;
}

.custom-color-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-color-toggle p {
    margin-right: 2em;
}

/* Membership Requirement */
.requirement-wrapper {
    margin: 2em 0 3em 0;
}
.requirement-wrapper hr {
    opacity: 0.3;
}
.percent-or-amount, .selects-and-delete {
    display: flex;
    flex-direction: row;
    align-items: end;
}
.selects-and-delete {
    align-items: center;
}
.percent-or-amount p.percent {
    margin-left: 2em;
}
.percent-or-amount .user-input {
    width: 100%;
    margin-bottom: 0em;
}
.selects-and-delete .select {
    width: 100%;
    margin-right: 1em;
}

.delete-requirement:hover {
    border: none;
}
/* .delete-requirement {
    display: flex;
    align-items: center;
}
.delete-requirement p {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 1em;
} */