/* Organization settings basic info */
.org-color-selector {
    display: flex;
    align-items: center;
}

.org-color-selector .user-input {
    display: flex;
    margin: 0;
}

.org-color-preview {
    display: block;
    width: 2em;
    height: 2em;

    margin-right: 1em;
}

/* Org Email Settings */

.org-email-settings {
    margin-top: 5em;
}

.custom-color-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-color-toggle p {
    margin-right: 2em;
}

/* Membership Requirement */
.requirement-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 1em 0;
}

.requirement-wrapper div {
    display: inline-block;
    margin: 0 0.4em 0 0.2em;
}

.delete-requirement:hover {
    border: none;
}