/* Columns */
.two-columns-big-screen {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Member Profile Content */

.member-profile-wrapper h1 {
    margin-bottom: 0.2em;
}

.member-profile-wrapper hr {
    margin: 3em 0;
    border-color: var(--light-grey);
    filter: brightness(1.7);
}

.member-profile-wrapper a, .member-profile-wrapper .phone-num {
    display: block;
    font-weight: bold;
    margin: 0.5em 0;
    color: var(--orange);
}

.icon-data {
    display: flex;
    margin-top: 3em;
   
}

/* Icon and Caption */
.icon-and-caption {
    text-align: center;
    margin: auto 1em;
}

/* Organization Box */

.org-box-wrapper {
    display: inline-block;
    margin: 0.5em;
}

.org-box-wrapper:hover {
    filter: brightness(0.65);
}

.org-box-wrapper .org-box-color {
    width: 15em;
    height: 10em;

    margin-bottom: -8em;
}

.org-box-wrapper .org-box-name {
    width: 13em;
    height: 10em;
    background-color: var(--black);

    display: flex;
    flex-direction: column;
    justify-content: end;

    margin: 0.5em 1em;
    padding: 0.5em 1em;
}   

.org-box-wrapper .org-box-name h2 {
    color: var(--white);
}

.org-box-with-admin-links {
    display: inline-flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.05);
    margin: 0.5em;
    padding-bottom: 0.5em;
}

.org-box-with-admin-links .org-box-wrapper {
    margin: 0;
}

.org-box-with-admin-links a, .org-box-with-admin-links p {
    display: block;
    color: var(--black);
    text-align: center;
    text-decoration: none;
    font-weight: bold;

    margin: 0.2em 0;
}

.org-box-with-admin-links a:hover, .org-box-with-admin-links p:hover {
    color: var(--medium-grey);
}

/* How to add org block */
.how-to-add-org-block {
    margin-top: 4em;
    color: var(--dark-grey);
    font-style: italic;
}
    
/**used for Organization Status Page **/

/* Events */
.rbc-toolbar span button {
    background-color: var(--org-color-light, --orange);
    color: black;
    border-radius: 0;
    border: none;
    margin: 0 0.5em;

    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 0.9em;
}

.rbc-toolbar button.rbc-active {
    box-shadow: none !important;
}

.rbc-toolbar span {
    margin-bottom: 1em;
}

.rbc-event {
    background-color: var(--org-color, --orange) !important;
    border-radius: 0 !important;
    padding: 0.5em !important;
}

.rbc-today {
    background-color: var(--org-color-light-2, --orange) !important;
}

.rbc-month-view, .rbc-time-view {
    border-color: var(--white) !important;
}

.rbc-month-header .rbc-header {
    padding: 1em !important;
    border-color: var(--white) !important;
}

.rbc-button-link:hover {
    border: none !important;
    background-color: var(--white) !important;
    color: var(--medium-grey) !important;
}

.event-info-popup-buttons {
    display: flex;
    margin-bottom: -1em;
}    


.member-progress-chart-page{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: '100%';
    gap: '10%';
    margin-left: '10%';
    margin-right: '10%';
}

/**used for Organization Status Page (mobile edition)**/
.member-progress-chart-page-mobile {
    display: grid;
    gap: '6%';
    grid-template-columns: 1fr;
    width: 100%;
     }
